/*
    Paleta de cores:

    Vermelho claro: #FF2600
    Vermelho escuro: #B20000
    Salmão: #FFA2A2
    Azul claro: #5BAFFE
    Azul escuro: #0156B2
    Cinza: #475569
*/
.descricao{
    font-size: 15px;
    color: #6b7280;
    line-height: 2;
    width: 75%;
    font-style: sans-serif;
    
}
.botoes{
    padding: 10px 35px;
    border-radius: 7px;
    border: 2px solid #0156B2;
    white-space: nowrap;
    
}
.direcionamento{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 175px;
    align-items: center;
    
}
.cabecalho{
    display: flex;
    flex-direction: row;
    gap: 3%;
    padding-left: 50px; 
        
}
.dasdasdsa{
    width: 50%;
   
    
}
.qerere{
    display: flex;
    flex-direction: row;
    width: 1326px;
    height: 500px;
    padding-left: 50px; 
    
    
}

.tag{
    display: inline-block;
    background-color: #FFA2A2;
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 80%;
}

.titulo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.vermelhoClaro {
    color: #FF2600;
}

.vermelhoEscuro {
    color: #B20000;
}

.salmao {
    color: #FFA2A2;
}

.azulClaro {
    color: #5BAFFE;
}

.azulEscuro {
    color: #0156B2;
}

.cinza {
    color: #475569;
}

.cinzaclaro{
    color: #354b69;
}

* {
    font-family: 'Space Grotesk', Arial, sans-serif;
}

.titulo {
    font-size: 36px;
    font-weight: 700;
    color: #0F172A;
}

p {
    font-size: 16px;
    font-weight: 700;
}
.cadastro{
    color: aliceblue;
    background-color: #5BAFFE;
}
.login{
    background-color: aliceblue;
    color: #0156B2;
}