/*
    Paleta de cores:

    Vermelho claro: #FF2600
    Vermelho escuro: #B20000
    Salmão: #FFA2A2
    Azul claro: #5BAFFE
    Azul escuro: #0156B2
    Cinza: #475569
*/

.vermelhoClaro {
    color: #FF2600;
}

.vermelhoEscuro {
    color: #B20000;
}

.salmao {
    color: #FFA2A2;
}

.azulClaro {
    color: #5BAFFE;
}

.azulEscuro {
    color: #0156B2;
}

.cinza {
    color: #475569;
}

* {
    font-family: 'Space Grotesk', Arial, sans-serif;
}

.titulo {
    font-size: 36px;
    font-weight: 700;
    color: #0F172A;
}

p {
    font-size: 16px;
    font-weight: 700;
}