/*
    Paleta de cores:

    Vermelho claro: #FF2600
    Vermelho escuro: #B20000
    Salmão: #FFA2A2
    Azul claro: #5BAFFE
    Azul escuro: #0156B2
    Cinza: #475569
*/

.vermelhoClaro {
    color: #FF2600;
}

.vermelhoEscuro {
    color: #B20000;
}

.salmao {
    color: #FFA2A2;
}

.azulClaro {
    color: #5BAFFE;
}

.azulEscuro {
    color: #0156B2;
}

.cinza {
    color: #475569;
}

.centralizado {
    text-align: center;
}

* {
    font-family: 'Space Grotesk', Arial, sans-serif;
}

.titulo {
    font-size: 36px;
    font-weight: 700;
    color: #0F172A;
}

.area_texto {
    padding: 0 60px;
}

p {
    font-size: 16px;
    font-weight: 700;
}

.diagrama {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  margin: 50px;
}

/* Linha horizontal */
.diagrama::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 2px;
  background: red;
  z-index: 0;
}

.step {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    text-align: center;
    width: 30%;
    position: relative;
    z-index: 1;
}

.step_descricao {
    width: 80%;
}

.circle {
  width: 80px;
  height: 80px;
  border: 5px solid red;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px;
  font-size: 20px;
}

.circle img {
    width: 60%;
    height: 50%;
}