/*
    Paleta de cores:

    Vermelho claro: #FF2600
    Vermelho escuro: #B20000
    Salmão: #FFA2A2
    Azul claro: #5BAFFE
    Azul escuro: #0156B2
    Cinza: #475569
*/

body {
    font-family: Arial, sans-serif;
    background-color: #f5f6f8;
    color: #0b1533;
}

.container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 24px;
}


.cabecalho {
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    background-color: #f5f6f8;
}

.nav {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
    height: auto;
}

.menu {
    display: flex;
    gap: 38px;
}

.menu a {
    text-decoration: none;
    color: #111827;
    font-size: 13px;
    font-weight: 600;
}

.acoes {
    display: flex;
    gap: 20px;
}

.btn {
    min-width: 145px;
    height: 40px;
    padding: 0 18px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.btn-azul {
    background-color: #5ba7ff;
    color: white;
    border: none;
    box-shadow: 0 4px 10px rgba(91, 167, 255, 0.35);
}

.btn-branco {
    background-color: transparent;
    color: #0057c2;
    border: 2px solid #0057c2;
}


.hero {
    padding: 36px 0;
}

.hero-conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 34px;
}

.hero-texto {
    width: 48%;
}

.hero-imagem {
    width: 52%;
    display: flex;
    justify-content: center;
}

.hero-imagem img {
    width: 100%;
    max-width: 560px;
    border-radius: 10px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.18);
    display: block;
}


.tag {
    display: inline-block;
    background-color: #f5a0a0;
    color: white;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 8px 14px;
    border-radius: 20px;
    margin-bottom: 22px;
    min-width: 300px;
}


.hero-texto h1 {
    font-size: 34px;
    line-height: 1.05;
    font-weight: 800;
    color: #111a3a;
    margin-bottom: 8px;
}

.hero-texto h2 {
    font-size: 34px;
    line-height: 1.08;
    font-weight: 800;
    color: #111a3a;
    margin-bottom: 22px;
}

.hero-texto h2 span {
    color: #c40000;
}


.descricao {
    max-width: 500px;
    font-size: 13px;
    line-height: 1.8;
    color: #6b7280;
}

.titulo1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.vermelhoClaro {
    color: #FF2600;
}

.vermelhoEscuro {
    color: #B20000;
}

.salmao {
    color: #FFA2A2;
}

.azulClaro {
    color: #5BAFFE;
}

.azulEscuro {
    color: #0156B2;
}

.cinza {
    color: #475569;
}

.cinzaclaro{
    color: #354b69;
}

* {
    font-family: 'Space Grotesk', Arial, sans-serif;
}

.titulo {
    font-size: 36px;
    font-weight: 700;
    color: #0F172A;
}

p {
    font-size: 16px;
    font-weight: 700;
}
.cadastro{
    color: aliceblue;
    background-color: #5BAFFE;
}
.login{
    background-color: aliceblue;
    color: #0156B2;
}